<button type="button" onclick="goBack()" class="btn btn-secondary">Voltar</button>

<div class="content-profile-page">
    <div class="profile-user-page card">
        <div class="img-user-profile">
            <img class="profile-bgHome" src="https://images3.alphacoders.com/813/813087.jpg" />
            <img id="avatar" class="avatar" src="http://gravatar.com/avatar/288ce55a011c709f4e17aef7e3c86c64?s=200" alt="jofpin" />
        </div>
        <div class="user-profile-data">
            <h1 id="name">Jose Pino</h1>
            <p id="user_link">github.com/jofpin</p>
        </div>
        <div id="bio" class="description-profile">Front-end | Security Researcher | CSS Warrior | <a href="https://twitter.com/bullgit" title="bullgit"><strong>@bullgit</strong></a> | I love to create small things for the internet!</div>
        <ul class="data-user">
            <li><a><strong id="followers">3390</strong><span>Seguidores</span></a></li>
            <li><a><strong id="repositorios">718</strong><span>Repositórios</span></a></li>
            <li><a><strong id="following">239</strong><span>Seguindo</span></a></li>
        </ul>
    </div>
</div>