<p id="notice"><%= notice %></p>

<p>
  <strong>Repositorio:</strong>
  <%= @repositorio.repositorio %>
</p>

<%= link_to 'Edit', edit_repositorio_path(@repositorio) %> |
<%= link_to 'Back', repositorios_path %>
